declare module "{{id}}" {
interface Requestor {
  requestor: any
}
export function setup(callback:(ref:Requestor)=>any);


let ref:Requestor = {
  requestor: fetch
};

{{#apis}}
export  function {{operationId}}():ReturnType<typeof ref.requestor>;
{{/apis }}
}